body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

main {
    padding: 16px;
}

footer {
    font-size: 200%;
    background-color: blue;
    color: white;
    padding: 24px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

}

img {
    height: 200px;
}

nav {
    background-color: aqua;
    border-bottom: 2px solid red;
    padding: 16px;
}

.recipe-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.recipe-container div:nth-child(5) {
    grid-column: 1 / -1;
}

a {
    text-decoration: none;
}

.recipe-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.title {
    color: darkmagenta
}
